<asp-filter-box
  [filters]="filters"
  [filterBehaviours]="filterBehaviours"
  (index)="index(true)"
  [filterConfig]="filterConfig"
>
  <!-- This container is has flex row functionality -->
  <ng-container beforeFilters>
    <mat-form-field fxFlex="300px">
      <button
        mat-icon-button
        matSuffix
        (click)="search(searchBox.value)"
      >
        <mat-icon>search</mat-icon>
      </button>
      <input
        #searchBox
        matInput
        placeholder="Search"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="searchBox.value = null; search(null)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>



  <!-- This container is has flex row functionality -->
  <ng-container afterFilters>
    <mat-chip-list fxFlex="auto">
      <mat-chip disabled>Italian connoisseur</mat-chip>
      <mat-chip disabled>Meat lover</mat-chip>
      <mat-chip disabled>USA style</mat-chip>
      <mat-chip disabled>Vegan  gggggg</mat-chip>
    </mat-chip-list>
  </ng-container>
</asp-filter-box>


<mat-card>
  <mat-card-header
    fxLayout="row"
    fxLayoutGap="15px"
  >
    <div>Pizzas</div>
    <label>Index Count: {{ indexCount }}</label>
  </mat-card-header>


  <mat-card-content>
    <table
      mat-table
      [dataSource]="dataSource"
      class="item-table"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ID
        </th>
        <td
          mat-cell
          *matCellDef="let pizza"
        >
          {{ pizza.id }}
        </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Name
        </th>
        <td
          mat-cell
          *matCellDef="let pizza"
        >
          {{ pizza.name }}
        </td>
      </ng-container>


      <ng-container matColumnDef="base">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Base
        </th>
        <td
          mat-cell
          *matCellDef="let pizza"
        >
          {{ pizza.base.value }}
        </td>
      </ng-container>


      <ng-container matColumnDef="restaurant">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Restaurant
        </th>
        <td
          mat-cell
          *matCellDef="let pizza"
        >
          {{ pizza?.restaurant?.value }}
        </td>
      </ng-container>


      <ng-container matColumnDef="price">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Price
        </th>
        <td
          mat-cell
          *matCellDef="let pizza"
        >
          {{ pizza?.price }}
        </td>
      </ng-container>


      <ng-container matColumnDef="rating">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Rating
        </th>
        <td
          mat-cell
          *matCellDef="let pizza"
        >
          {{ pizza.rating.value }}
        </td>
      </ng-container>


      <ng-container matColumnDef="ratingDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Rating Date
        </th>
        <td
          mat-cell
          *matCellDef="let pizza"
        >
          {{ pizza.ratingDate }}
        </td>
      </ng-container>


      <tbody>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </tbody>
    </table>


    <mat-form-field>
      <input
        matInput
        placeholder="Test"
      >
    </mat-form-field>
    <button (click)="filters.clearAll()">Clear All</button>
    <!-- <button (click)="filters.get('base').updateFilterOptions()">Test Loading</button> -->
  </mat-card-content>
</mat-card>
